<div class="container">

  <div class="col-md-6 col-md-offset-3">

    <form>
      <div id="task-form" class="panel panel-default">
        <div class="panel-body no-padding">
          <textarea class="form-control input-lg no-border" rows="2" placeholder="What do you have to do?"></textarea>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-info pull-right">Create</button>
          <br style="clear: both" />
        </div>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">7 minutes ago</span>
        Cras justo odio ad asd asd asdsad sad msad sad sa dsa ds ad asd saf sa fsa d as das das das d sa 
      </li>
    </ul>
        
  </div>

</div><!-- /.container -->