<div class="container">

  <div class="col-md-6 col-md-offset-3">

    <form ng-submit="createTask()">
      <div id="task-form" class="panel panel-default">
        <div class="panel-body no-padding">
          <textarea ng-model="description" class="form-control input-lg no-border" rows="2" placeholder="What do you have to do?"></textarea>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-info pull-right">Create</button>
          <br style="clear: both" />
        </div>
      </div>
    </form>

    <ul class="list-group">
      <li ng-repeat="task in tasks" class="list-group-item">
        <span class="badge"> {{ task.date }}</span>
        {{ task.description }}
      </li>
    </ul>
        
  </div>

</div><!-- /.container -->